# Azure Search
AZURE_SEARCH_ENDPOINT="https://your-azure-search-service.search.windows.net"  
AZURE_AI_SEARCH_INDEX_NAME="your-search-index-name"

# Azure OpenAI
AZURE_OPENAI_SEARCH_EMBEDDING_DEPLOYMENT="text-embedding-3-large"
AZURE_OPENAI_SEARCH_EMBEDDING_API_VERSION="2024-12-01-preview"

# Azure OpenAI Chat
AZURE_OPENAI_CHAT_DEPLOYMENT="gpt-4.1"
AZURE_OPENAI_CHAT_API_VERSION="2024-12-01-preview"

# Azure OpenAI and OpenAI chat
AZURE_OPENAI_ENDPOINT="https://switzerlandnorth.api.cognitive.microsoft.com/"
AZURE_OPENAI_VECTORIZER_ENDPOINT="https://your-azure-openai-resource-name.openai.azure.com"

# Azure Key Credential
AZURE_SEARCH_SERVICE_PRIMARY_ADMIN_KEY=""your-azure-search-service-primary-admin-key"" 
AZURE_OPENAI_PRIMARY_KEY="your-azure-openai-primary-api-key"

# Azure Storage
AZURE_STORAGE_ACCOUNT_PRIMARY_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=your-storage-account;AccountKey=your-storage-account-key;EndpointSuffix=core.windows.net

# Azure Blob Storage
AZURE_CONTAINER_STORAGE_NAME=kioskbot-logs

# Rest API application instance
APP_TITLE="Information Kiosk Bot"
APP_DESCRIPTION="Endpoints for the Information Kiosk Bot"
DOCS_URL=/docs
REDOC_URL=/redoc

# Rest API middleware component
FRONTEND_URL="http://localhost:5173"
BACKEND_URL="http://localhost:8000/"
ALLOWED_CREDENTIALS=True
ALLOWED_METHODS=["GET","POST","PUT","DELETE"]
ALLOWED_HEADERS=["*"]

# LangSmith
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="your-langsmith-api-key"
LANGSMITH_PROJECT="kioskbot-dev"

# Azure Container Registry
AZURE_CONTAINER_REGISTRY_LOGIN_SERVER="your-registry.azurecr.io"

# Kafka settings
KAFKA_BOOTSTRAP_SERVERS=localhost:9094
KAFKA_TOPIC=chatbot_logs