
# Azure Search
AZURE_SEARCH_ENDPOINT=""  
AZURE_AI_SEARCH_INDEX_NAME=""

# Azure OpenAI
AZURE_OPENAI_SEARCH_EMBEDDING_DEPLOYMENT=""
AZURE_OPENAI_SEARCH_EMBEDDING_API_VERSION=""

# Azure OpenAI Chat
AZURE_OPENAI_CHAT_DEPLOYMENT=""
AZURE_OPENAI_CHAT_API_VERSION=""

# Azure OpenAI and OpenAI chat
AZURE_OPENAI_ENDPOINT=""

# Azure Key Credential
AZURE_AI_SEARCH_API_KEY=""

# Azure Data Tables
AZURE_STORAGE_CONNECTION_STRING=""
CHAT_HISTORY_TABLE_NAME=""
FEEDBACK_TABLE_NAME=""

# Rest API application instance
APP_TITLE=""
APP_DESCRIPTION=""
DOCS_URL=""
REDOC_URL=""

# Rest API middleware component
FRONTEND_URL="http://localhost:5173/"
BACKEND_URL=""
ALLOWED_CREDENTIALS=""
ALLOWED_METHODS='[""]'
ALLOWED_HEADERS='[""]'

# Authentication settings for the application to access Azure resources
AZURE_CLIENT_SECRET=""
AZURE_CLIENT_ID=""
AZURE_TENANT_ID=""

# LangSmith
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT="kioskbot-dev"
AZURE_OPENAI_CHAT_KEY=""