
# Azure Search
AZURE_SEARCH_ENDPOINT="https://your-azure-search-service.search.windows.net"  
AZURE_AI_SEARCH_INDEX_NAME="your-search-index-name"

# Azure OpenAI
AZURE_OPENAI_SEARCH_EMBEDDING_DEPLOYMENT="text-embedding-3-large"
AZURE_OPENAI_SEARCH_EMBEDDING_API_VERSION="2024-12-01-preview"

# Azure OpenAI Chat
AZURE_OPENAI_CHAT_DEPLOYMENT="gpt-4.1"
AZURE_OPENAI_CHAT_API_VERSION="2024-12-01-preview"

# Azure OpenAI and OpenAI chat
AZURE_OPENAI_ENDPOINT="https://switzerlandnorth.api.cognitive.microsoft.com/"
AZURE_OPENAI_VECTORIZER_ENDPOINT="https://your-azure-openai-resource-name.openai.azure.com"

# Azure Key Credential
AZURE_SEARCH_SERVICE_PRIMARY_ADMIN_KEY="M31COAJ2d6oPUBU3YKfzFjBmIRPCHOsItMNXCZMBJDAzSeBU28m3" 
AZURE_OPENAI_PRIMARY_KEY="57YITNCorGBsKBzCyec6rCXNSi7qraLkwQ5JSNJHjHMxBfbMlSanJQQJ99BJACI8hq2XJ3w3AAABACOGMz0r"

# Azure Storage
AZURE_STORAGE_ACCOUNT_PRIMARY_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=sakbglobal001;AccountKey=4U5T2PjVyUWyuqqai7Cl/CFbrbwdJsk8945JoFOh+53n+bSeRLz2hfp/daBZlw4j44EcmsnirfWG+AStHYzetg==;EndpointSuffix=core.windows.net"

# Azure Blob Storage
AZURE_CONTAINER_STORAGE_NAME="kioskbot-logs"

# Rest API application instance
APP_TITLE="Information Kiosk Bot"
APP_DESCRIPTION="Endpoints for the Information Kiosk Bot"
DOCS_URL="/docs"
REDOC_URL="/redoc"

# Rest API middleware component
ALLOWED_CREDENTIALS="True"
ALLOWED_METHODS='["GET","POST","PUT","DELETE"]'
ALLOWED_HEADERS='["*"]'

# LangSmith
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="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"
LANGSMITH_PROJECT="kioskbot-dev"

# Kafka settings
KAFKA_BOOTSTRAP_SERVERS=localhost:9094
KAFKA_TOPIC="chatbot_logs"