# Azure Search
AZURE_SEARCH_ENDPOINT=""  
AZURE_AI_SEARCH_INDEX_NAME=""

# Azure OpenAI
AZURE_OPENAI_SEARCH_EMBEDDING_DEPLOYMENT=""
AZURE_OPENAI_SEARCH_EMBEDDING_API_VERSION=""

# Azure OpenAI Chat
AZURE_OPENAI_CHAT_DEPLOYMENT=""
AZURE_OPENAI_CHAT_API_VERSION=""

# Azure OpenAI and OpenAI chat
AZURE_OPENAI_ENDPOINT=""

# Azure Key Credential
AZURE_AI_SEARCH_API_KEY=""