# Azure Search
AZURE_SEARCH_ENDPOINT="https://your-azure-search-service.search.windows.net"  
AZURE_AI_SEARCH_INDEX_NAME="your-search-index-name"

# Azure OpenAI
AZURE_OPENAI_SEARCH_EMBEDDING_DEPLOYMENT="text-embedding-3-large"
AZURE_OPENAI_SEARCH_EMBEDDING_API_VERSION="2024-02-01"

# Azure OpenAI Chat
AZURE_OPENAI_CHAT_DEPLOYMENT="gpt-4.1"
AZURE_OPENAI_CHAT_API_VERSION="2024-12-01-preview"

# Azure OpenAI and OpenAI chat
AZURE_OPENAI_ENDPOINT="https://your-azure-openai-service.openai.azure.com"

# Azure Key Credential
AZURE_AI_SEARCH_API_KEY="your-azure-search-api-key"

# Azure Storage
AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=your-storage-account;AccountKey=your-storage-account-key;EndpointSuffix=core.windows.net"

# Azure Blob Storage
AZURE_CONTAINER_STORAGE_NAME="kioskbot-logs"

# Rest API application instance
APP_TITLE="Information Kiosk Bot"
APP_DESCRIPTION="Endpoints for the Information Kiosk Bot"
DOCS_URL="/docs"
REDOC_URL="/redoc"

# Rest API middleware component
FRONTEND_URL="http://localhost:5173"
BACKEND_URL="http://localhost:8000/"
ALLOWED_CREDENTIALS="True"
ALLOWED_METHODS='["GET","POST","PUT","DELETE"]'
ALLOWED_HEADERS='["*"]'

# Authentication settings for the application to access Azure resources
AZURE_CLIENT_SECRET="your-azure-client-secret"
AZURE_CLIENT_ID="your-azure-client-id"
AZURE_TENANT_ID="your-azure-tenant-id"

# LangSmith
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="your-langsmith-api-key"
LANGSMITH_PROJECT="kioskbot-dev"
AZURE_OPENAI_CHAT_KEY="your-azure-openai-chat-key"

# Azure Container Registry
AZURE_CONTAINER_REGISTRY_LOGIN_SERVER="your-registry.azurecr.io"

# Kafka settings
KAFKA_BOOTSTRAP_SERVERS=localhost:9094
KAFKA_TOPIC="chatbot_logs"