#---- Owner--------
environment = "global"
owner = "support.dsl@unibe.ch"

#------- Global --------
subscription_id         = "your-azure-subscription_id"
resource_group_name     = "rg-kb-global-001"
resource_group_location = "Switzerland North"

# ----- Storage Account --------
storage_account_name                          = "sakbglobal001"
storage_account_kind                          = "StorageV2"
storage_account_tier                          = "Standard"
storage_account_replication_type              = "ZRS"
storage_account_containers                    = [
  "kioskbot-logs",
  "kioskbot-secrets",
  "kioskbot-customers-data"
]
storage_account_tags                          = {
  "environment" = "global"
  "owner"       = "kb-support.dsl@unibe.ch"
}



# ----- Container Registry --------
container_registry_name  = "crkbglobal001"
container_registry_sku   = "Standard"
container_repository_name = "kioskbot-backend-api"
container_registry_tags   = {
  "environment" = "global"
  "owner"       = "kb-support.dsl@unibe.ch"
}
container_registry_resource_group_name = "rg-kb-global-001"

# ----- Key Vault --------
key_vault_name = "kv-kb-global-001"
key_vault_sku_name = "standard"
key_vault_tags = {
  "environment" = "global"
  "owner"       = "kb-support.dsl@unibe.ch"
}