#---- Owner--------
environment = "global"
owner = "kb-support.dsl@unibe.ch"

#------- Global --------
subscription_id         = "your-azure-subscription_id"
resource_group_name     = "rg-db-global-001"
resource_group_location = "Switzerland North"

# ----- Storage Account --------
storage_account_name                          = "sadbglobal001"
storage_account_kind                          = "StorageV2"
storage_account_tier                          = "Standard"
storage_account_replication_type              = "ZRS"
storage_account_containers                    = [
  "dsl-bot-logs",
  "dsl-bot-secrets",
  "dsl-bot-customers-data"
]
storage_account_tags                          = {
  "environment" = "global"
  "owner"       = "db-support.dsl@unibe.ch"
}



# ----- Container Registry --------
container_registry_name  = "crdbglobal001"
container_registry_sku   = "Premium"
container_repository_name = "dsl-bot-backend-api"
container_registry_tags   = {
  "environment" = "global"
  "owner"       = "db-support.dsl@unibe.ch"
}
container_registry_resource_group_name = "rg-db-global-001"

# ----- Key Vault --------
key_vault_name = "kv-db-global-001"
key_vault_sku_name = "standard"
key_vault_tags = {
  "environment" = "global"
  "owner"       = "db-support.dsl@unibe.ch"
}