#---- Owner--------
environment = "global"
owner = "support.dsl@unibe.ch"

#------- Global --------
subscription_id         = "your-azure-subscription_id"
resource_group_name     = "rg-kb-global-001"
resource_group_location = "Switzerland North"

# ----- Storage Account --------
storage_account_name                          = "sakbglobal001"
storage_account_kind                          = "StorageV2"
storage_account_tier                          = "Standard"
storage_account_replication_type              = "ZRS"
storage_account_enable_hns                    = false
storage_account_enable_blob_versioning        = true
storage_account_enable_change_feed            = false
storage_account_blob_soft_delete_days         = 30
storage_account_container_soft_delete_days    = 30
storage_account_containers                    = [
  "kioskbot-logs-dev-001",
  "kioskbot-logs-prod-001",
  "kioskbot-docker-compose",
  "sc-kb-global-001"
]
storage_account_tables                        = []

# Optional network rules (open by default)
storage_account_network_default_action = "Allow"
storage_account_network_ip_rules       = []
storage_account_network_subnet_ids     = []
storage_account_network_bypass         = ["AzureServices"]

# ----- Container Registry --------
container_registry_name  = "crkbglobal001"
container_registry_sku   = "Standard"
admin_enabled            = true
retention_enabled        = true
retention_days           = 30
anonymous_pull_enabled   = false
data_endpoint_enabled    = false
container_repository_name = "kioskbot-backend-api"


# ----- Key Vault --------
key_vault_name = "kv-kb-global-001"
key_vault_sku_name = "standard"
key_vault_soft_delete_days = 90
key_vault_purge_protection_enabled = true
key_vault_enable_rbac = true
key_vault_public_network_access_enabled = true
key_vault_network_default_action = "Allow"
key_vault_network_bypass = "AzureServices"
key_vault_network_ip_rules = []
key_vault_network_subnet_ids = []
key_vault_access_policies = []
key_vault_secrets = {}
key_vault_rbac_role_assignments = []