#---- Owner--------
environment = "prod"
owner = "support.dsl@unibe.ch"

#------- Global --------

subscription_id         = "your-azure-subscription_id"
resource_group_name     = "rg-kb-prod-001"
resource_group_location = "Switzerland North"

# ----- Cognitive Model --------
# chat deployment
cognitive_model_account_name        = "ao-kb-prod-001"
cognitive_model_account_sku_name    = "S0"
cognitive_model_deployment_sku_name = "GlobalStandard"
cognitive_model_deployment_name     = "gpt-4.1"
cognitive_model_name                = "gpt-4.1"
cognitive_model_version             = "2025-04-14"
cognitive_model_account_kind        = "OpenAI"
# embedding deployment
cognitive_model_embedding_deployment_name     = "text-embedding-3-large"
cognitive_model_embedding_name                = "text-embedding-3-large"
cognitive_model_embedding_version             = "1"
cognitive_model_embedding_deployment_sku_name = "GlobalStandard"


# ----- AI Foundry ------

aif_hub_name     = "aif-hub-kb-prod-001"
aif_project_name = "aif-proj-kb-prod"

# ----- App Service Plan--------
app_service_plan_name                = "asp-kb-prod-001"
app_service_plan_sku_name           = "P1v3"
app_service_plan_worker_count                   = 3

# ----- App Service --------
app_service_name = "as-kb-prod-001"
app_service_os_type = "Linux"
app_service_app_settings = {}
app_service_identity = {}
app_service_virtual_network_subnet_id = null
app_service_connection_string = null
app_service_connection_string_name = null
app_service_connection_string_type = null
app_service_connection_string_value = null
container_registry_id = null
app_service_plan_id = null
app_name = "kioskbot-backend"
container_image_tag = "prod"
container_repository_name = "kioskbot-backend-api"
container_registry_sku = "Standard"

# ----- Container Registry reference (global) --------
container_registry_name = "crkbglobal001"
# if ACR is in global RG different from prod RG, set override:
container_registry_resource_group_name = "rg-kb-global-001"

# ----- Reference global Storage --------
storage_account_name = "sakbglobal001"
storage_account_resource_group_name = "rg-kb-global-001"

# ----- Search Service --------
search_service_name = "ss-kb-prod-001"
search_service_sku = "basic"
search_service_replica_count = 3
search_service_partition_count = 1
search_service_hosting_mode = "default"
search_service_public_network_access_enabled = true
grant_blob_reader_to_storage_account_id = null
