#------- Global --------

subscription_id         = "your-azure-subscription_id"
resource_group_name     = "rg-kb-prod-001"
resource_group_location = "Switzerland North"


# ----- Cognitive Model --------
# chat deployment
cognitive_model_account_name        = "ao-kb-prod-001"
cognitive_model_account_sku_name    = "S0"
cognitive_model_deployment_sku_name = "GlobalStandard"
cognitive_model_deployment_name     = "gpt-4.1"
cognitive_model_name                = "gpt-4.1"
cognitive_model_version             = "2025-04-14"
cognitive_model_account_kind        = "OpenAI"
# embedding deployment
cognitive_model_embedding_deployment_name     = "text-embedding-3-large"
cognitive_model_embedding_name                = "text-embedding-3-large"
cognitive_model_embedding_version             = "1"
cognitive_model_embedding_deployment_sku_name = "GlobalStandard"


# ----- AI Foundry ------

aif_hub_name     = "aif-hub-kb-prod-001"
aif_project_name = "aif-proj-kb-prod"